/*
Este archivo es unicamente para la barra de búsqueda y todos los html
se conectaran a este archivo para la busqueda...
*/
/* 
    Created on : 30/05/2021, 09:00:39 PM
    Author     : ADRIAN JIMENEZ
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.search_menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}
*/
.search_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

/*
.search_menu{
    background-color: #474343;
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
*/

/*
.search_menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
*/

.search_menu ul li{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.search_menu ul li:hover{
    background-color: rgb(228,228,288);
    color: rgb(42,42,42);
}

/* Estilos de javascript */

.active{
    transform: translate(-600px);
}

.opacity{
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
}
