/*sigue probándose el height de la imagen*/

.presentation {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    
}

/*.logosicar {
    position: relative;
    left: 50px;
}
*/
.experience_ {
    text-align: center;
    background: url('images/sicarpv.png');

}

#principal_header{
    background: #333;
    color: white;
    height: 80 px;
}

.experience_{
    position: static;
    right: 50%;
    font-size: 30px;
    color: black;
}
