/*sigue probándose el height de la imagen*/

.presentation {
    max-width: 100%;
    width: 100%;
    
    
}

.logosicar {
    position: relative;
    left: 50px;
}
.experience_ {
    text-align: center;
    
}

#principal_header{
    background: #333;
    color: white;
    height: 80 px;
}

